<div>
    <img src="https://www.sermecoop.cl/sitio/images/logo.png" alt=""/>

    <div class="wrapper">
        <div class="row">
            <div class="column">
                <google-pie-chart data={data} title="Hello 01" x_serie="name" y_serie="value1" />
            </div>
            <div class="column">
                <google-pie-chart data={data} title="Hello 02" x_serie="name" y_serie="value2" />
            </div>
        </div>
    </div>

</div>